body{
    display: table;
    /* border:3px solid rgb(4, 0, 255); */
    margin: auto;
    /* width: 1200; */
    width: 80%;
}

.index1{
    background-image: url("pictures/mainphoto.jpg");
    background-repeat: no-repeat;
    background-position: center top;
 }

.firstheader{
    color: #dce8e8;
    margin: 20px;
    text-align: center;
    font-stretch: condensed;
    font-weight: 100;
    font-family: "Times New Roman";
    font-size: large;
}

.content{
    background-color: rgba(255, 255, 255, 0.5);
}

.content h2{
    text-align: center;
    color: #7f0505;
}

.content h3{
    color: black;
}


.img1{
    text-align: center;
    align;

}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: #384141;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: gray;
    color: #101010;
}

